canvas {
  width: 100vmin;
  height: 100vmin;
}

.app {
  color: #eee;
  font-size: 24px;
  background: #252529;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  cursor: pointer;
  background: #666;
  font-size: 24px;
  margin: 4px;
  border: none;
  padding: 8px;
  border-radius: 4px;
}
button:active {
  background: #777;
}
